html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
box-sizing: inherit;
}
body{
font-family: 'Lato', sans-serif;

}

h1{
font-size: 3.8rem;
}
h2{
font-size: 3.4rem;
}
h3{
font-size: 3rem;
}
h4{
font-size: 2.6rem;
} 
.section {
    margin-top: 2rem;
    margin-top: 2rem;
}
/** Globales **/
img{
    max-width: 100%;
}
.contenedor {
max: width 1200px;
margin:0 auto:0
}
.d-block{
    display: block;
}

/**botones**/
.boton{
color: #ffffff;
font-weight: 700;
text-decoration: none;
font-size: 1.8rem;
padding: 1rem 3rem;
margin-top: 3rem;
 display:inline-block;
 text-align: center;

}
.boton-amarillo{
background-color:#E08709;

}
.boton-verde{
background-color: #71B100;

}
/*Header*/
.site-header.inicio{
    background-image: url(../modulo2/imagenes/header.jpg);
    background-position: center center;
    height: 800vh;
    min-height: 600 vh;
}
.contenido-header h1{
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}
.barra{
display: flex;
justify-content: space-around;
margin-top: 3rem;
}

/** Navegacion **/
.navegacion a{
color: #ffffff;
text-decoration: none;
font-size: 18px;
margin-right:20 px;
}
.navegacion a:hover{
    color: #71B100;
}
.navegacion a:last-of-type {
margin: 0;

}
.encabezado-nosotros{
    font-weight: 300;
    text-align: center;
}
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.icono{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3{
    text-transform: uppercase;
}

.contenedor-anuncio{
    justify-content: space-between;

}
.anuncio{
flex-basis: calc(33.3% - 1rem);
border: 1px solid #b5b5b5;
background-color: #F5F5F5;

}
.contenedor-anuncio{
padding-top: 2rem;
padding-left: 4rem;
padding-right: 2rem;
padding-bottom: 4rem;

padding: 2rem 4rem;

}

.contenedor-anuncio h3, .contenedor-anuncio p{
    margin: 0;

}

.precio{
    color: #71B100
    font-weight:700;

}
